@model Student;

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fullname</th>
            <th>Age</th>
            <th>Grant</th>
            <th>GroupId</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Fullname</td>
                <td>@Model.Age</td>
                <td>@Model.Grant</td>
                <td>@Model.GroupId</td>
            </tr>
    </tbody>
</table>